@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: fantasyFont;
  src: url("./assets/fonts/final_fantasy_36_font.eot?") format("eot"),
    url("./assets/fonts/final_fantasy_36_font.woff") format("woff"),
    url("./assets/fonts/final_fantasy_36_font.ttf") format("truetype"),
    url("./assets/fonts/final_fantasy_36_font.svg#Final-Fantasy-3/6-Font") format("svg");
  font-weight: normal;
  font-style: normal;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color-scheme: light;
}
.app {
  position: absolute;
  width: 100vw;
  max-height: 100%;
  max-width: 100%;
  height: 100%;
}
.wrapper {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

.header {
  font-family: fantasyFont, sans-serif;
  position: relative;
  width: 100%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  height: 100%;
}

.section {
  height: 100%;
  width: 100%;
}

.header_content{
  position: relative;
  flex: 1;
}

.header > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  left: 50%;
  transform: translate(-50%);
  flex: auto;
}

.header_green {
  position: relative;
  z-index: 3;
  height: 66%;
  width: 100%;
  flex: auto;
}

.header_text {
  position: absolute;
  top: 15%;
  left: 5%;
  right: 5%;
  color: white;
  font-size: calc(max(3.1vw,3.1vh));
}

.header_background_hills {
  height:100%;
  width: 100%;
  object-fit: cover;
}

.header_background_box {
  height: 100%;
  width: 100%;
  object-fit: fill;
}
.header_box {
  z-index: 4;
  position: relative;
  z-index: 3;
  height:34%;
  display: flex;
  width: 100%;
  letter-spacing: .33vw;
  align-items: center;
}
.header_cat {
  position:absolute;
  z-index: 4;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.header_name {
  font-family: fantasyFont;
  font-size: calc(max(3vw,2vh));
  color: white;
  letter-spacing: .3vw;
  position: absolute;
  z-index: 11;
  top: 35%;
  left: 10%;
}

.header_nav {
  display: grid;
  width: 95%;
  font-size: calc(max(3vw,3.1vh));
  grid-template-columns: 1fr 1.1fr .7fr 1fr;
  position: absolute;
  top: 61%;
  left: 5%;
  right: 5%;
  justify-items: left;
  color: white;
  letter-spacing: .25vw;
  gap: 1%;
}

.visible {
  display: inline-block;
  text-decoration: underline max(0.31vw,0.31vh);
  text-underline-offset: max(0.31vw,0.31vh);
}

.hidden {
  display: none;
}

.menu {
  font-family: fantasyFont;
}

.rightArrow {
  position: relative;
  border: solid white;
  border-width: 0 max(.4vw,.4vh) max(.4vw,.4vh) 0;
  padding: 0.3vw;
  left: -5%;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.link {
  color: white;
  text-decoration: none;
}